/* Popup styles */
/* .popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    align-items: center;
    justify-content: center;
  }
  
  .popup {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    width: 100%;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }
  
  .form-title {
    text-align: center;
    margin-bottom: 20px;
  }
   */
  
  /* dont know why close button not showing lets see it somedays */
  /* .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    z-index: 1001;
  } */
  
  
  /* .popup-form .input-box {
    margin-bottom: 15px;
  }
  
  .popup-form .input-box input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
  }
  
  .popup-form .input-box .btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--main-color);
    color: #fff;
    cursor: pointer;
  } */

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 100%;
}

.close-btn {
  font-size: 80px;
  margin-right: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.form-title {
    text-align: center;
}

.input-box {
    margin-bottom: 15px;
}

.input-box input,
.input-box select {
    width: calc(100% - 20px); /* Adjust the width here */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* .input-box input,
.input-box select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
} */

.input-box input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    width: 100%;
}

.input-box input[type="submit"]:hover {
    background-color: #0056b3;
}

  /* #signup-popup{
    background-color: red;
  }
  
  .popup-form .input-box .btn:hover {
    background-color: var(--second-color);
  }
   */